<html lang="zh-cn">
<head>

    <link rel="stylesheet" type="text/css" href="../../resources/js/semantic/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../../resources/js/semantic/components/container.css">

    <script src="../../resources/js/semantic/semantic.min.js"></script>
    <script src="../../resources/js/jquery-1.11.1.min.js"></script>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
</head>
<body>
    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment">
            <div class="ui container">
                <div class="ui large secondary inverted pointing menu">

                    <a class="active item">home</a>
                    <a class="item">work</a>
                    <a class="item">compay</a>
                    <a class="item">life</a>

                    <div class="right item">
                        <a class="ui inverted button">login in</a>
                        <a class="ui inverted button">sing up</a>
                    </div>
                </div>
                <div class="ui text container">
                    <h1 class="ui inverted header">
                        中文保卫处
                    </h1>
                    <h2 >英文翻译处</h2>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
